In [185]:
import pandas as pd
import numpy as np

In [186]:
df=pd.read_csv("Salary_Dataset.csv")

In [187]:
df

      country    Salary  YearsExperience Purchased
0       Dubai   39343.0              1.1        No
1      Canada   46205.0              1.3       Yes
2      Canada   37731.0              1.5        No
3      Canada   43525.0              2.0        No
4         USA   39891.0              2.2        No
5       Dubai   56642.0              2.9        No
6      Canada   60150.0              3.0       Yes
7   Australia   54445.0              3.2        No
8       Dubai   64445.0              3.2       Yes
9       Dubai   57189.0              3.7        No
10      Dubai   63218.0              3.9       Yes
11        USA   55794.0              4.0        No
12      Dubai   56957.0              4.0       Yes
13     Canada   57081.0              4.1        No
14  Australia   61111.0              4.5        No
15        USA   67938.0              4.9        No
16        USA   66029.0              5.1        No
17     Canada   83088.0              5.3        No
18  Australia   81363.0              5.9       Yes
19     Canada   93940.0              6.0        No
20     Canada   91738.0              6.8        No
21  Australia   98273.0              7.1        No
22  Australia  101302.0              7.9        No
23  Australia  113812.0              8.2       Yes
24      Dubai  109431.0              8.7        No
25  Australia  105582.0              9.0       Yes
26      Dubai  116969.0              9.5        No
27        USA  112635.0              9.6       Yes
28        USA  122391.0             10.3        No
29     Canada  121872.0             10.5       Yes

In [188]:
country_dummy=pd.get_dummies(df['country'])
country_dummy

    Australia  Canada  Dubai    USA
0       False   False   True  False
1       False    True  False  False
2       False    True  False  False
3       False    True  False  False
4       False   False  False   True
5       False   False   True  False
6       False    True  False  False
7        True   False  False  False
8       False   False   True  False
9       False   False   True  False
10      False   False   True  False
11      False   False  False   True
12      False   False   True  False
13      False    True  False  False
14       True   False  False  False
15      False   False  False   True
16      False   False  False   True
17      False    True  False  False
18       True   False  False  False
19      False    True  False  False
20      False    True  False  False
21       True   False  False  False
22       True   False  False  False
23       True   False  False  False
24      False   False   True  False
25       True   False  False  False
26      False   False   True  False
27      False   False  False   True
28      False   False  False   True
29      False    True  False  False

In [189]:
df=pd.concat([df,country_dummy],axis=1)

In [190]:
df

,country,Salary,YearsExperience,Purchased,Australia,Canada,Dubai,USA
0,Dubai,39343.0,1.1,No,False,False,True,False
1,Canada,46205.0,1.3,Yes,False,True,False,False
2,Canada,37731.0,1.5,No,False,True,False,False
3,Canada,43525.0,2.0,No,False,True,False,False
4,USA,39891.0,2.2,No,False,False,False,True
5,Dubai,56642.0,2.9,No,False,False,True,False
6,Canada,60150.0,3.0,Yes,False,True,False,False
7,Australia,54445.0,3.2,No,True,False,False,False
8,Dubai,64445.0,3.2,Yes,False,False,True,False
9,Dubai,57189.0,3.7,No,False,False,True,False
10,Dubai,63218.0,3.9,Yes,False,False,True,False
11,USA,55794.0,4.0,No,False,False,False,True
12,Dubai,56957.0,4.0,Yes,False,False,True,False
13,Canada,57081.0,4.1,No,False,True,False,False
14,Australia,61111.0,4.5,No,True,False,False,False
15,USA,67938.0,4.9,No,False,False,False,True
16,USA,66029.0,5.1,No,False,False,False,True
17,Canada,83088.0,5.3,No,False,True,False,False
18,Australia,81363.0,5.9,Yes,True,False,False,False
19,Canada,93940.0,6.0,No,False,True,False,False
20,Canada,91738.0,6.8,No,False,True,False,False
21,Australia,98273.0,7.1,No,True,False,False,False
22,Australia,101302.0,7.9,No,True,False,False,False
23,Australia,113812.0,8.2,Yes,True,False,False,False
24,Dubai,109431.0,8.7,No,False,False,True,False
25,Australia,105582.0,9.0,Yes,True,False,False,False
26,Dubai,116969.0,9.5,No,False,False,True,False
27,USA,112635.0,9.6,Yes,False,False,False,True
28,USA,122391.0,10.3,No,False,False,False,True
29,Canada,121872.0,10.5,Yes,False,True,False,False

In [191]:
df[['Australia','Canada','USA','Dubai']] = df[['Australia','Canada','USA','Dubai']].astype(int)

In [192]:
df

,country,Salary,YearsExperience,Purchased,Australia,Canada,Dubai,USA
0,Dubai,39343.0,1.1,No,0,0,1,0
1,Canada,46205.0,1.3,Yes,0,1,0,0
2,Canada,37731.0,1.5,No,0,1,0,0
3,Canada,43525.0,2.0,No,0,1,0,0
4,USA,39891.0,2.2,No,0,0,0,1
5,Dubai,56642.0,2.9,No,0,0,1,0
6,Canada,60150.0,3.0,Yes,0,1,0,0
7,Australia,54445.0,3.2,No,1,0,0,0
8,Dubai,64445.0,3.2,Yes,0,0,1,0
9,Dubai,57189.0,3.7,No,0,0,1,0
10,Dubai,63218.0,3.9,Yes,0,0,1,0
11,USA,55794.0,4.0,No,0,0,0,1
12,Dubai,56957.0,4.0,Yes,0,0,1,0
13,Canada,57081.0,4.1,No,0,1,0,0
14,Australia,61111.0,4.5,No,1,0,0,0
15,USA,67938.0,4.9,No,0,0,0,1
16,USA,66029.0,5.1,No,0,0,0,1
17,Canada,83088.0,5.3,No,0,1,0,0
18,Australia,81363.0,5.9,Yes,1,0,0,0
19,Canada,93940.0,6.0,No,0,1,0,0
20,Canada,91738.0,6.8,No,0,1,0,0
21,Australia,98273.0,7.1,No,1,0,0,0
22,Australia,101302.0,7.9,No,1,0,0,0
23,Australia,113812.0,8.2,Yes,1,0,0,0
24,Dubai,109431.0,8.7,No,0,0,1,0
25,Australia,105582.0,9.0,Yes,1,0,0,0
26,Dubai,116969.0,9.5,No,0,0,1,0
27,USA,112635.0,9.6,Yes,0,0,0,1
28,USA,122391.0,10.3,No,0,0,0,1
29,Canada,121872.0,10.5,Yes,0,1,0,0

In [193]:
df.drop(labels=['country'],axis=1,inplace=True)

In [194]:
df

      Salary  YearsExperience Purchased  Australia  Canada  Dubai  USA
0    39343.0              1.1        No          0       0      1    0
1    46205.0              1.3       Yes          0       1      0    0
2    37731.0              1.5        No          0       1      0    0
3    43525.0              2.0        No          0       1      0    0
4    39891.0              2.2        No          0       0      0    1
5    56642.0              2.9        No          0       0      1    0
6    60150.0              3.0       Yes          0       1      0    0
7    54445.0              3.2        No          1       0      0    0
8    64445.0              3.2       Yes          0       0      1    0
9    57189.0              3.7        No          0       0      1    0
10   63218.0              3.9       Yes          0       0      1    0
11   55794.0              4.0        No          0       0      0    1
12   56957.0              4.0       Yes          0       0      1    0
13   57081.0              4.1        No          0       1      0    0
14   61111.0              4.5        No          1       0      0    0
15   67938.0              4.9        No          0       0      0    1
16   66029.0              5.1        No          0       0      0    1
17   83088.0              5.3        No          0       1      0    0
18   81363.0              5.9       Yes          1       0      0    0
19   93940.0              6.0        No          0       1      0    0
20   91738.0              6.8        No          0       1      0    0
21   98273.0              7.1        No          1       0      0    0
22  101302.0              7.9        No          1       0      0    0
23  113812.0              8.2       Yes          1       0      0    0
24  109431.0              8.7        No          0       0      1    0
25  105582.0              9.0       Yes          1       0      0    0
26  116969.0              9.5        No          0       0      1    0
27  112635.0              9.6       Yes          0       0      0    1
28  122391.0             10.3        No          0       0      0    1
29  121872.0             10.5       Yes          0       1      0    0

In [195]:
df=df[['Australia','Canada','Dubai','USA','Salary','YearsExperience','Purchased']]

In [196]:
df

    Australia  Canada  Dubai  USA    Salary  YearsExperience Purchased
0           0       0      1    0   39343.0              1.1        No
1           0       1      0    0   46205.0              1.3       Yes
2           0       1      0    0   37731.0              1.5        No
3           0       1      0    0   43525.0              2.0        No
4           0       0      0    1   39891.0              2.2        No
5           0       0      1    0   56642.0              2.9        No
6           0       1      0    0   60150.0              3.0       Yes
7           1       0      0    0   54445.0              3.2        No
8           0       0      1    0   64445.0              3.2       Yes
9           0       0      1    0   57189.0              3.7        No
10          0       0      1    0   63218.0              3.9       Yes
11          0       0      0    1   55794.0              4.0        No
12          0       0      1    0   56957.0              4.0       Yes
13          0       1      0    0   57081.0              4.1        No
14          1       0      0    0   61111.0              4.5        No
15          0       0      0    1   67938.0              4.9        No
16          0       0      0    1   66029.0              5.1        No
17          0       1      0    0   83088.0              5.3        No
18          1       0      0    0   81363.0              5.9       Yes
19          0       1      0    0   93940.0              6.0        No
20          0       1      0    0   91738.0              6.8        No
21          1       0      0    0   98273.0              7.1        No
22          1       0      0    0  101302.0              7.9        No
23          1       0      0    0  113812.0              8.2       Yes
24          0       0      1    0  109431.0              8.7        No
25          1       0      0    0  105582.0              9.0       Yes
26          0       0      1    0  116969.0              9.5        No
27          0       0      0    1  112635.0              9.6       Yes
28          0       0      0    1  122391.0             10.3        No
29          0       1      0    0  121872.0             10.5       Yes

In [197]:
df=pd.read_csv("Salary_Dataset.csv")

In [198]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [199]:
le=LabelEncoder()

In [200]:
df['Purchased']=le.fit_transform(df['Purchased'])

In [201]:
df

      country    Salary  YearsExperience  Purchased
0       Dubai   39343.0              1.1          0
1      Canada   46205.0              1.3          1
2      Canada   37731.0              1.5          0
3      Canada   43525.0              2.0          0
4         USA   39891.0              2.2          0
5       Dubai   56642.0              2.9          0
6      Canada   60150.0              3.0          1
7   Australia   54445.0              3.2          0
8       Dubai   64445.0              3.2          1
9       Dubai   57189.0              3.7          0
10      Dubai   63218.0              3.9          1
11        USA   55794.0              4.0          0
12      Dubai   56957.0              4.0          1
13     Canada   57081.0              4.1          0
14  Australia   61111.0              4.5          0
15        USA   67938.0              4.9          0
16        USA   66029.0              5.1          0
17     Canada   83088.0              5.3          0
18  Australia   81363.0              5.9          1
19     Canada   93940.0              6.0          0
20     Canada   91738.0              6.8          0
21  Australia   98273.0              7.1          0
22  Australia  101302.0              7.9          0
23  Australia  113812.0              8.2          1
24      Dubai  109431.0              8.7          0
25  Australia  105582.0              9.0          1
26      Dubai  116969.0              9.5          0
27        USA  112635.0              9.6          1
28        USA  122391.0             10.3          0
29     Canada  121872.0             10.5          1

In [202]:
df.head(5)

  country   Salary  YearsExperience  Purchased
0   Dubai  39343.0              1.1          0
1  Canada  46205.0              1.3          1
2  Canada  37731.0              1.5          0
3  Canada  43525.0              2.0          0
4     USA  39891.0              2.2          0

In [203]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [204]:
ct=ColumnTransformer(transformers=[("encoder",OneHotEncoder(),[0])],remainder='passthrough')

In [205]:
df=pd.DataFrame(ct.fit_transform(df))

In [206]:
df.columns=['Australia','Canada','Dubai','USA','Salary','YearsExperience','Purchased']
df

    Australia  Canada  Dubai  USA    Salary  YearsExperience  Purchased
0         0.0     0.0    1.0  0.0   39343.0              1.1        0.0
1         0.0     1.0    0.0  0.0   46205.0              1.3        1.0
2         0.0     1.0    0.0  0.0   37731.0              1.5        0.0
3         0.0     1.0    0.0  0.0   43525.0              2.0        0.0
4         0.0     0.0    0.0  1.0   39891.0              2.2        0.0
5         0.0     0.0    1.0  0.0   56642.0              2.9        0.0
6         0.0     1.0    0.0  0.0   60150.0              3.0        1.0
7         1.0     0.0    0.0  0.0   54445.0              3.2        0.0
8         0.0     0.0    1.0  0.0   64445.0              3.2        1.0
9         0.0     0.0    1.0  0.0   57189.0              3.7        0.0
10        0.0     0.0    1.0  0.0   63218.0              3.9        1.0
11        0.0     0.0    0.0  1.0   55794.0              4.0        0.0
12        0.0     0.0    1.0  0.0   56957.0              4.0        1.0
13        0.0     1.0    0.0  0.0   57081.0              4.1        0.0
14        1.0     0.0    0.0  0.0   61111.0              4.5        0.0
15        0.0     0.0    0.0  1.0   67938.0              4.9        0.0
16        0.0     0.0    0.0  1.0   66029.0              5.1        0.0
17        0.0     1.0    0.0  0.0   83088.0              5.3        0.0
18        1.0     0.0    0.0  0.0   81363.0              5.9        1.0
19        0.0     1.0    0.0  0.0   93940.0              6.0        0.0
20        0.0     1.0    0.0  0.0   91738.0              6.8        0.0
21        1.0     0.0    0.0  0.0   98273.0              7.1        0.0
22        1.0     0.0    0.0  0.0  101302.0              7.9        0.0
23        1.0     0.0    0.0  0.0  113812.0              8.2        1.0
24        0.0     0.0    1.0  0.0  109431.0              8.7        0.0
25        1.0     0.0    0.0  0.0  105582.0              9.0        1.0
26        0.0     0.0    1.0  0.0  116969.0              9.5        0.0
27        0.0     0.0    0.0  1.0  112635.0              9.6        1.0
28        0.0     0.0    0.0  1.0  122391.0             10.3        0.0
29        0.0     1.0    0.0  0.0  121872.0             10.5        1.0

In [207]:
from sklearn.model_selection import train_test_split

In [208]:
x=df.drop('Purchased',axis=1)
y=df['Purchased']

In [209]:
x
y

0     0.0
1     1.0
2     0.0
3     0.0
4     0.0
5     0.0
6     1.0
7     0.0
8     1.0
9     0.0
10    1.0
11    0.0
12    1.0
13    0.0
14    0.0
15    0.0
16    0.0
17    0.0
18    1.0
19    0.0
20    0.0
21    0.0
22    0.0
23    1.0
24    0.0
25    1.0
26    0.0
27    1.0
28    0.0
29    1.0
Name: Purchased, dtype: float64

In [210]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=56)

In [211]:
from xgboost import XGBRegressor

In [212]:
from sklearn.preprocessing import StandardScaler

In [213]:
x_train

    Australia  Canada  Dubai  USA    Salary  YearsExperience
19        0.0     1.0    0.0  0.0   93940.0              6.0
8         0.0     0.0    1.0  0.0   64445.0              3.2
18        1.0     0.0    0.0  0.0   81363.0              5.9
22        1.0     0.0    0.0  0.0  101302.0              7.9
1         0.0     1.0    0.0  0.0   46205.0              1.3
6         0.0     1.0    0.0  0.0   60150.0              3.0
5         0.0     0.0    1.0  0.0   56642.0              2.9
26        0.0     0.0    1.0  0.0  116969.0              9.5
23        1.0     0.0    0.0  0.0  113812.0              8.2
16        0.0     0.0    0.0  1.0   66029.0              5.1
24        0.0     0.0    1.0  0.0  109431.0              8.7
25        1.0     0.0    0.0  0.0  105582.0              9.0
12        0.0     0.0    1.0  0.0   56957.0              4.0
17        0.0     1.0    0.0  0.0   83088.0              5.3
27        0.0     0.0    0.0  1.0  112635.0              9.6
28        0.0     0.0    0.0  1.0  122391.0             10.3
9         0.0     0.0    1.0  0.0   57189.0              3.7
14        1.0     0.0    0.0  0.0   61111.0              4.5
11        0.0     0.0    0.0  1.0   55794.0              4.0
2         0.0     1.0    0.0  0.0   37731.0              1.5
0         0.0     0.0    1.0  0.0   39343.0              1.1
15        0.0     0.0    0.0  1.0   67938.0              4.9
4         0.0     0.0    0.0  1.0   39891.0              2.2
21        1.0     0.0    0.0  0.0   98273.0              7.1

In [214]:
x_test

    Australia  Canada  Dubai  USA    Salary  YearsExperience
13        0.0     1.0    0.0  0.0   57081.0              4.1
20        0.0     1.0    0.0  0.0   91738.0              6.8
7         1.0     0.0    0.0  0.0   54445.0              3.2
3         0.0     1.0    0.0  0.0   43525.0              2.0
10        0.0     0.0    1.0  0.0   63218.0              3.9
29        0.0     1.0    0.0  0.0  121872.0             10.5

In [215]:
sc=StandardScaler()

In [216]:
x_train.iloc[:,4:]=sc.fit_transform(x_train.iloc[:,4:])

In [217]:
x_train

    Australia  Canada  Dubai  USA    Salary  YearsExperience
19        0.0     1.0    0.0  0.0  0.629206         0.226338
8         0.0     0.0    1.0  0.0 -0.466902        -0.780943
18        1.0     0.0    0.0  0.0  0.161813         0.190364
22        1.0     0.0    0.0  0.0  0.902796         0.909851
1         0.0     1.0    0.0  0.0 -1.144745        -1.464455
6         0.0     1.0    0.0  0.0 -0.626515        -0.852891
5         0.0     0.0    1.0  0.0 -0.756881        -0.888866
26        0.0     0.0    1.0  0.0  1.485021         1.485440
23        1.0     0.0    0.0  0.0  1.367699         1.017774
16        0.0     0.0    0.0  1.0 -0.408036        -0.097430
24        0.0     0.0    1.0  0.0  1.204890         1.197645
25        1.0     0.0    0.0  0.0  1.061851         1.305568
12        0.0     0.0    1.0  0.0 -0.745174        -0.493148
17        0.0     1.0    0.0  0.0  0.225918        -0.025482
27        0.0     0.0    0.0  1.0  1.323958         1.521414
28        0.0     0.0    0.0  1.0  1.686516         1.773235
9         0.0     0.0    1.0  0.0 -0.736553        -0.601071
14        1.0     0.0    0.0  0.0 -0.590801        -0.313276
11        0.0     0.0    0.0  1.0 -0.788394        -0.493148
2         0.0     1.0    0.0  0.0 -1.459660        -1.392506
0         0.0     0.0    1.0  0.0 -1.399754        -1.536404
15        0.0     0.0    0.0  1.0 -0.337093        -0.169379
4         0.0     0.0    0.0  1.0 -1.379389        -1.140686
21        1.0     0.0    0.0  0.0  0.790231         0.622056

In [218]:
x_test.iloc[:,4:]=sc.transform(x_test.iloc[:,4:])

In [219]:
x_test

    Australia  Canada  Dubai  USA    Salary  YearsExperience
13        0.0     1.0    0.0  0.0 -0.740566        -0.457174
20        0.0     1.0    0.0  0.0  0.547374         0.514133
7         1.0     0.0    0.0  0.0 -0.838527        -0.780943
3         0.0     1.0    0.0  0.0 -1.244341        -1.212635
10        0.0     0.0    1.0  0.0 -0.512500        -0.529122
29        0.0     1.0    0.0  0.0  1.667228         1.845183